main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-area {
  background: gray;
  height: 90vh;
  width: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blank-pixel {
  width: calc(100% / 16);
  height: calc(100% / 16);
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
}
